/* ------------------------------------- */
/* HEADER                                */
/* ------------------------------------- */

.main-header {
  display: flex;
  flex-direction: column;

  @media (min-width: 426px) and (max-width: 786px) {
  flex-direction: column-reverse;
  min-width: 426px    
  }
  @media (max-width: 425px){
    flex-direction: column-reverse;
    max-width: 426px;
    width: 100%; 
}
}
#menu {
  display: none;

  &:checked + .nav-bar {
    display: block;
  }

  &:checked ~ .search-bar .menu-toogle__label {
    background-color: yellow;
  }

}

/* ------------------------------------- */
/* NAVBAR                                */
/* ------------------------------------- */

.nav-bar {
  background-color: #252525;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;

  &__nav-list {
    display: flex;
    list-style-type: none;
    justify-content: center;   
  

    @media (max-width: 768px) {
      & {
        flex-direction: column;
      }
    }
  }

  &__nav-item {
    text-align: center;
  }

  &__nav-link {
    display: block;
    background-color: #252525;
    color: #fff;
    padding: 1em 2em;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    & {
      display: none;
    }
  }
}

.nav-bar__img { 
  @media (max-width: 768px) {
    display: none;
  }
}

/* ------------------------------------- */
/* SEARCH BAR                            */
/* ------------------------------------- */

.search-bar {
  background-color: #252525;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  width: 100%;
  align-items: stretch;

  @media (max-width: 768px) {
  
  }

  &__logo-container,
  &__form-container {
    padding: 1em 0 1em 1em;
  }

  &__logo-container {
    background-color: #252525;
  }

  &__form-container {
    background-color: #252525;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
  }

  &__form-label {
    background-color: #252525;
    margin-right: 5%;
    align-self: center;
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__form-search {
    background-color: #FFFFFF;
    width: 70%;
    height: 70%;
    align-self: center;
    @media (max-width: 768px) {
    width: 90%;
    }
  }

  &__form-submit {
    background-color: #670010;
    color: white;
    height: 70%;
    width: 10%;
    margin-left: 5%;
    border-radius: 1em;
    border: #252525 solid ;
    align-self: center;

    @media (max-width: 768px) {
    width: 20%;;
    }
    @media (max-width: 425px) {
      display: flex;
      font-weight: 700;
      font-size: .8em;
      justify-content: space-around;
      width: 30%;

    }

    
  }

  &__carrito-container {
    flex: 0 0 3em;
    background-color: #252525;
    text-align: center;
    padding: 1em 1em 0;
    align-self: center;
    text-decoration: none;

  }
}

/* ------------------------------------- */
/* MENU TOOGLE                           */
/* ------------------------------------- */

.menu-toggle {
  display: none;
  background-color: red;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;

  &__label {
    display: block;
    background-color: black;
    height: 100%;
  }

  &__top-bread,
  &__meat,
  &__bottom-bread {
    display: block;
    background-color: #f0f0f0;
    height: .5em;
    position: absolute;
    left: .5em;
    right: .5em;
  }

  &__top-bread {
    top: 1.2em;
  }

  &__meat {
    top: 47%;
    margin-top: -.1em;
  }

  &__bottom-bread {
    bottom: 1.2em;
  }

  @media (max-width: 768px) {
    & {
      display: block;
    }
  }

  .nav-bar__img {
    display: none;
  }
  }

/* Split */ 

.nosotros__split {
  height: 50px;
  background-image: linear-gradient(0.25turn, #404040, #f0f0f0, #404040)
}

.logo { 
  width: 60px;
}

.carrito { 
  width: 2.5em;
  position: static;

}

.contador { 
width: 25px;
height: 25px; 
clip-path: circle(50% at 50% 50%);
background-color: white;
position: relative;
bottom: 20px;
z-index: 3;
right: 5px;
  p {
    font-weight: bold;
    color: #252525;
  }
}