table.tabla-alta {
    border-collapse: collapse;
    width: 95%;
    margin: 1rem auto;
    padding: 0 0 50px 0;



    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    thead { 
        @media (max-width: 768px) {
        display: none;
        }
    } 
    
    tbody { 
        @media (max-width: 768px) {
        display: flex;
        flex-direction: column;

        tr {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            border: black solid;
            margin: 0 auto;
        }
        
        }
            
     }
}

